API_SERVER_KEY=<GENERATE_WITH_openssl_rand_hex_32>
HERMES_DASHBOARD_BASIC_AUTH_USERNAME=<USERNAME>
HERMES_DASHBOARD_BASIC_AUTH_PASSWORD=<PASSWORD>
HERMES_DASHBOARD_BASIC_AUTH_SECRET=<GENERATE_WITH_openssl_rand_hex_32>
